<div class="container">
  <div class="footcontainer">
    <div class="foot">
      <h3 style="font-family: Arial, Helvetica, sans-serif;">Unterstützung</h3>
      <a class="footlink"  href="https://www.airbnb.de/help/home?from=footer"><p class="footfont">Hilfe-Center</p></a>
      <a class="footlink"  href="https://www.airbnb.de/trust"><p class="footfont">Sicherheitshinweise</p></a>
      <a class="footlink"  href="https://www.airbnb.de/help/article/2701/extenuating-circumstances-policy-and-the-coronavirus-covid19"><p class="footfont"> Stornierungsmöglichkeiten</p></a>
      <a class="footlink"  href="https://www.airbnb.de/d/covidsafety"><p class="footfont">Unser Beitrag im Zusammenhang mit COVID-19</p></a>
      <a class="footlink"  href="https://www.airbnb.de/accessibility"><p class="footfont">Unterstützung für Menschen mit Behinderungen</p></a>
      <a class="footlink"  href="https://www.airbnb.de/neighbors"><p class="footfont">Probleme in der Nachbarschaft</p></a>
    </div>
    <div class="foot" >
    <h3 style="font-family: Arial, Helvetica, sans-serif;">Community</h3>
    <a class="footlink"  href="https://www.airbnb.org/?locale=de&_ga=2.227066717.1549070730.1649352630-1672595202.1649352630"><p class="footfont">Airbnb.org: Katastrophenhilfe</p></a>
    <a class="footlink"  href="https://www.airbnb.org/refugees?_ga=2.227066717.1549070730.1649352630-1672595202.1649352630"><p class="footfont">Hilfe für afghanische Geflüchtete</p></a>
    <a class="footlink"  href="https://www.airbnb.de/against-discrimination"></a>
    </div>
    <div class="foot">
      <h3 style="font-family: Arial, Helvetica, sans-serif;">Über</h3>
      <a class="footlink"  href="https://www.airbnb.de/press/news"><p class="footfont">Pressebereich</p></a>
      <a class="footlink"  href="https://www.airbnb.de/2021-winter"><p class="footfont">Alles über neue Funktionen</p></a>
      <a class="footlink"  href="https://news.airbnb.com/what-makes-airbnb-airbnb?_ga=2.159457533.1549070730.1649352630-1672595202.1649352630"><p class="footfont">Brief der Gründer von Airbnb</p></a>
      <a class="footlink"  href="https://www.airbnb.de/careers"><p class="footfont">Karriere</p></a>
      <a class="footlink"  href="https://investors.airbnb.com/?_ga=2.159457533.1549070730.1649352630-1672595202.1649352630"><p class="footfont">Investoren</p></a>
      <a class="footlink"  href="https://www.airbnb.de/luxury"><p class="footfont">Airbnb Luxe</p></a>
    </div>
  </div>
</div>
