<html>
   <head>
     <title>Registierung</title>
   </head>
<body>
<div class="container">
  <h1>Willkommen bei Airbnb</h1>
  <form action="inc/login-inc.php" method="POST">
  <input type="text" name="user" placeholder="Benutzername">
  <input type="password" name="password" placeholder="Passwort">
  <input type="password" name="password" placeholder="Passwort Wiederholen">
  <input type="email" name="user" placeholder="E-mail">
  <input type="address" name="password" placeholder="Adresse">
  <input type="tel" name="user" placeholder="Telefonnummer">
  <button type="submit" name="submit" class="button">Registrieren</button>
  </form>
</div>
  <p>
    Wir werden dich anrufen oder dir eine SMS senden, um deine Nummer zu bestätigen. <br>
    Es können die üblichen Gebühren für die Nachrichten- und Datenübertragung anfallen.
  </p>
  <a href="https://www.airbnb.de/terms/privacy_policy?source=signup"> Datenschutzerklärung</a>
</body>
</html>
