<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <script src="https://kit.fontawesome.com/6a6ac01db0.js" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="/src/app/fontawesome-free-5.12.0-web/css/all.min.css">
<!--   <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/> -->
</head>
<body>
  <div class="container">
    <button class="btn"></button>
      <div class="drop-down">
        <ul>
          <li><a [routerLink]="['/wishlist']" class="active1">Wishlist</a></li>
          <li><a [routerLink]="['/place']" class="active4">Adresse</a></li>
          <li><a [routerLink]="['/register']"  class="active2">Kontakt</a></li>
          <li><a href="https://www.airbnb.de/login" target="_blank" class="active3">E-mail</a></li>
          <li><a [routerLink]="['/register']"  class="active2">Kontakt</a></li>
        </ul>
      </div>
  </div>
</body>
</html>


