<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>place</title>
</head>
<body>
  <section class="menu">
    <div class="title">
      <h1>our places </h1>
      <div class="underline"></div>
    </div>

    <div class="section-center">
      <article class="menu-item">
        <img src="https://bstatic.com/xdata/images/xphoto/840x460/97016758.jpg?k=aa9dae20561811875ff06725b52115fc546dab3d21e0675afd286c3c0d6e9cde&o=" class="photo" alt="">
        <div class="item-info">
          <header>
            <h4>Berlin</h4>
            <h4 class="price">150</h4>
          </header>
          <p class="item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptas eius
            a laboriosam natus? Sed tenetur quos veritatis quam perferendis.
          </p>
        </div>
      </article>
      <article class="menu-item">
        <img src="https://www.project-immobilien.com/_assets/_images/pi_2014/niederlassung/duesseldorf/neubau-kaufen-duesseldorf-02.jpg" class="photo" alt="">
        <div class="item-info">
          <header>
            <h4>Berlin</h4>
            <h4 class="price">150</h4>
          </header>
          <p class="item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptas eius
            a laboriosam natus? Sed tenetur quos veritatis quam perferendis.
          </p>
        </div>
      </article>
      <article class="menu-item">
        <img src="https://bstatic.com/xdata/images/xphoto/840x460/97016758.jpg?k=aa9dae20561811875ff06725b52115fc546dab3d21e0675afd286c3c0d6e9cde&o=" class="photo" alt="">
        <div class="item-info">
          <header>
            <h4>Berlin</h4>
            <h4 class="price">150</h4>
          </header>
          <p class="item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptas eius
            a laboriosam natus? Sed tenetur quos veritatis quam perferendis.
          </p>
        </div>
      </article>
      <article class="menu-item">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Neues_Schloss_Schlossplatzspringbrunnen_Jubil%C3%A4umss%C3%A4ule_Schlossplatz_Stuttgart_2015_02.jpg" class="photo" alt="">
        <div class="item-info">
          <header>
            <h4>Berlin</h4>
            <h4 class="price">150</h4>
          </header>
          <p class="item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptas eius
            a laboriosam natus? Sed tenetur quos veritatis quam perferendis.
          </p>
        </div>
      </article>
      <article class="menu-item">
        <img src="https://bstatic.com/xdata/images/xphoto/840x460/97016758.jpg?k=aa9dae20561811875ff06725b52115fc546dab3d21e0675afd286c3c0d6e9cde&o=" class="photo" alt="">
        <div class="item-info">
          <header>
            <h4>Berlin</h4>
            <h4 class="price">150</h4>
          </header>
          <p class="item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptas eius
            a laboriosam natus? Sed tenetur quos veritatis quam perferendis.
          </p>
        </div>
      </article>
      <article class="menu-item">
        <img src="https://all.accor.com/magazine/imagerie/der_schlossplatz_in_stuttgart-01cd.jpg" class="photo" alt="">
        <div class="item-info">
          <header>
            <h4>Berlin</h4>
            <h4 class="price">150</h4>
          </header>
          <p class="item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptas eius
            a laboriosam natus? Sed tenetur quos veritatis quam perferendis.
          </p>
        </div>
      </article>
      <article class="menu-item">
        <img src="https://images.prismic.io/indiecampers-demo/3b788841-4ab7-4a15-8b0a-e87d59c97950_final+stuttgart.jpg?auto=compress,format&rect=2,0,1996,1331&w=2000&h=1334" class="photo" alt="">
        <div class="item-info">
          <header>
            <h4>Berlin</h4>
            <h4 class="price">150</h4>
          </header>
          <p class="item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptas eius
            a laboriosam natus? Sed tenetur quos veritatis quam perferendis.
          </p>
        </div>
      </article>
    </div>
  </section>
</body>
</html>

